

<!-- <div class="container">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Line Chart</a>
    </li>

    <li class="nav-item">
       <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a 
     class="nav-link" routerLink="/directive">directives</a>
    </li>

  </ul>
  <div>

    <router-outlet></router-outlet>
  </div>
</div> -->


 <div class="topnav1">
    <a>Hello Allen!</a>
    <a class="active" style="float:right">Code.Siemens.com</a>
  </div>

  <div class="topnav2">
      <form class="search" style="max-width:500px">
        <input type="text" placeholder="Search for Project, People, Location" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="dropdown" style="float:right">
        <button class="dropbtn"><i class="fa fa-user">  Allen</i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa fa-user"> Profile</i></a>
          <a href="#"><i class="fa fa-sign-out"> Logout</i></a>
        </div>
      </div>
      <a href="#" style="float:right"><i class="fa fa-envelope"></i></a>
      <a href="#" style="float:right"><i class="fa fa-globe"></i></a>
      <a href="#" style="float:right"><i class="fa fa-folder"></i></a>
    </div>

    <div class="topnav3">
        <a href="#" class="active"><i class="fa fa-home"></i></a>
        <div class="filterdropdown" >
          <button  class="filterbtn">Filter</button>
          <div class="filter-content">
            <button  class="fbtn">Your Projects</button>
            <button  class="fbtn">Location</button>
            <button class="accordion">Department</button>
            <div class="panel">
              <a href="#">Unit</a>
            </div>
            <button  class="accordion">Status</button>
            <div class="panel">
              <a href="#">Ongoing</a><br>
              <a href="#">Completed</a><br>
              <a href="#">Deadlock</a>
            </div>
          </div>
        </div>
        
    </div>

    <mat-paginator [length]="100" 
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>  

      <mat-grid-list cols="3" rowHeight="4:3" > 
        <mat-grid-tile *ngFor="let port of res" style="font-style: bold">
          <mat-grid-tile-header>{{port.name}}</mat-grid-tile-header>
          <div class="gridText">Status:{{port.status}}<br>Duration:{{port.duration}}<br>Department:{{port.department}}</div>
        </mat-grid-tile>
      </mat-grid-list> 
    
      <div class="footer">
        <p>Code.Siemens.com</p>
      </div>

      <script>
      var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}</script>
