

<!-- <div class="container">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Line Chart</a>
    </li>

    <li class="nav-item">
       <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a 
     class="nav-link" routerLink="/directive">directives</a>
    </li>

  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div> -->


 <div class="topnav1">
    <a>Hello Allen!</a>
    <a class="active" style="float:right">Code.Siemens.com</a>
  </div>

  <div class="topnav2">
      <form class="search" style="max-width:500px">
        <input type="text" placeholder="Search for Project, People, Location" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="dropdown" style="float:right">
        <button class="dropbtn"><i class="fa fa-user">  Allen</i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa fa-user"> Profile</i></a>
          <a href="#"><i class="fa fa-sign-out"> Logout</i></a>
        </div>
      </div>
      <a href="#" style="float:right"><i class="fa fa-envelope"></i></a>
      <a href="#" style="float:right"><i class="fa fa-globe"></i></a>
      <a href="#" style="float:right"><i class="fa fa-folder"></i></a>
    </div>

    <div class="topnav3">
        <a href="#" class="active"><i class="fa fa-home"></i></a>
        <div class="filterdropdown" >
          <button  class="filterbtn">Filter</button>
          <div class="filter-content">
            <button  class="fbtn">Your Projects</button>
            <button  class="fbtn">Location</button>
            <button class="accordion">Department</button>
            <div class="panel">
              <a href="#">Unit</a>
            </div>
            <button  class="accordion">Status</button>
            <div class="panel">
              <a href="#">Ongoing</a><br>
              <a href="#">Completed</a><br>
              <a href="#">Deadlock</a>
            </div>
          </div>
        </div>
        
    </div>

    <div class="grid">
        <a href="#" style="float:right" class="next">Next &#8250;</a>
        <a href="#"  style="float:right"class="previous">&#8249; Previous</a>
      <div class="row" style="margin-top:30px;">
        <div class="column">
          <h2>Project 1</h2>
          <p><b>Status: Ongoing</b></p>
          <p>Duration: 1 month</p>
          <p>Department: Reuse</p>
          <div>
              <app-pie-chart></app-pie-chart>

            <canvas id="pieChart"></canvas>
          </div>
        </div>
        <div class="column">
          <h2>Project 2</h2>
          <p><b>Status: Completed</b></p>
          <p>Duration: 6 months</p>
          <p>Department: Reuse</p>
        </div>
        <div class="column">
          <h2>Project 3</h2>
          <p><b>Status: Ongoing</b></p>
          <p>Duration: 5 months</p>
          <p>Department: Reuse</p>
        </div>
      </div>
      <div class="row">
          <div class="column">
            <h2>Project 4</h2>
            <p><b>Status: Completed</b></p>
            <p>Duration: 4 months</p>
            <p>Department: Reuse</p>
          </div>
          <div class="column">
            <h2>Project 5</h2>
            <p><b>Status: Deadlock</b></p>
            <p>Duration: 6 months</p>
            <p>Department: Reuse</p>
          </div>
          <div class="column">
            <h2>Project 6</h2>
            <p><b>Status: Completed</b></p>
            <p>Duration: 10 months</p>
            <p>Department: Reuse</p>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <h2>Project 7</h2>
            <p><b>Status: Ongoing</b></p>
            <p>Duration: 7 months</p>
            <p>Department: Reuse</p>
          </div>
          <div class="column">
            <h2>Project 8</h2>
            <p><b>Status: Deadlock</b></p>
            <p>Duration: 6 months</p>
            <p>Department: Reuse</p>
          </div>
          <div class="column">
            <h2>Project 9</h2>
            <p><b>Status: Completed</b></p>
            <p>Duration: 9 months</p>
            <p>Department: Reuse</p>
          </div>
        </div> 
      </div>
    
      <div class="footer">
        <p>Code.Siemens.com</p>
      </div>

      <script>
      var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}</script>