<div class="topnav1">
  <a>Hello Allen!</a>
  <a class="active" style="float:right">Code.Siemens.com</a>
</div>

<div class="topnav2">
  <form class="search" style="max-width:500px">
    <input type="text" placeholder="Search for Project, People, Location" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="dropdown" style="float:right">
    <button class="dropbtn"><i class="fa fa-user"> Allen</i></button>
    <div class="dropdown-content">
      <a href="#"><i class="fa fa-user"> Profile</i></a>
      <a href="#"><i class="fa fa-sign-out"> Logout</i></a>
    </div>
  </div>
  
</div>

<div class="topnav3">
  <a href="#" class="active"><i class="fa fa-home"></i></a>
  <button mat-button [matMenuTriggerFor]="sort">Sort</button>
  <mat-menu #sort="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="alphabetically">Alphabetically</button>
    <button mat-menu-item [matMenuTriggerFor]="rating">Rating</button>
  </mat-menu>
  <mat-menu #alphabetically="matMenu">
    <button mat-menu-item>A - Z</button>
    <button mat-menu-item>Z - A</button>
  </mat-menu>
  <mat-menu #rating="matMenu">
    <button mat-menu-item>Low to High</button>
    <button mat-menu-item>High to Low</button>
  </mat-menu>
</div>