<mat-paginator [length]="res.length" 
[pageSize]="size"
[pageIndex]="page"
[pageSizeOptions]="[4,6]"
(page)="getData($event)">
</mat-paginator>  

<mat-grid-list cols="2" rowHeight="6:3" gutterSize="5px" > 
  <mat-grid-tile *ngFor="let port of tiles" (click)="move()">
    <mat-grid-tile-header [style.background-color]="'blue'">{{port.name}}</mat-grid-tile-header>
    <div class="gridText">Status:{{port.status}}<br>Duration:{{port.duration}}<br>Department:{{port.department}}</div>
    <!-- <div class="gridChart"><app-pie-chart></app-pie-chart></div> -->
  </mat-grid-tile>
</mat-grid-list> 